body {
    max-width: 650px;
    line-height: 1.6;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 18px;
    color: #333;
    background-color: #fdfdfd;
    margin: 40px auto;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}

a {
    color: #3070B9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #306590;
}

.current {
  font-weight: bold;
}

img {
    width: 100%;
}


img#coral, img#coral2, img#coral3 {
    width: 79%;
    margin: auto;
}

.captioned {
    font-style: italic;
    font-size: 85%;
}

.question {
    font-style: italic;
}

// See https://gist.github.com/andyferra/2554919
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
